.caja-input {
    position: fixed; /* Para que se posicione en el viewport */
    left: calc(65% - 135px); /* Centra horizontalmente: 50% menos la mitad del ancho del elemento */
    top: calc(110% - 131px); /* Coloca el contenedor a la mitad de la altura */
    transform: translateY(-50%); /* Ajusta la posición para centrar verticalmente */
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo con opacidad para cubrir lo que hay detrás */
    border-radius: 10px;
    padding-inline: 15px;
    animation: pulse 4s infinite;
}

/* Estilos para el control de búsqueda de direcciones */
.buscador {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: large;
    background-color: #000000; /* Color de fondo sólido */
    border: 1px solid #666; /* Borde del input */
    border-radius: 6px; /* Esquinas redondeadas */
    width: 250px; /* Ancho del input */
    height: 25px; /* Altura del input */
    margin: 4px 0 4px 4px; /* Espacio a la derecha para separar de otros controles */
    color: #ffffff;
    opacity: 0.9; /* Cambié la transparencia a 0.9 para que sea más opaco */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para destacar el control */
}

/* Animación de pulso para el contenedor */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 palevioletred; /* Sin sombra al inicio */
    }
    50% {
        box-shadow: 0 0 0 2px palevioletred; /* Sombra azul al 100% */
    }
    100% {
        box-shadow: 0 0 0 palevioletred; /* Sin sombra al final */
    }
}
